<div class="aboutDesc">HomeFront is a collection of resources for homeless-aid organizations and shelters
to help work in a more efficient way.  The app provides visualizations
of nearby shelters, SMS messaging for clients, capacity management and 
user registration and risk assessment
</div>